<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>YODAFY</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

  <header>
    <h1>yodafy</h1>
    <h6>Welcome! <%= user.username %></h6>
    <form action="/auth?_method=DELETE" method="post">
      <input type="submit" value="Logout">
    </form>
  </header>

  <div class="nav">
    <h2>Search song</h2>
    <form action="/users/search" method="POST">
      <input type="text" name="searchTerm" placeholder="Enter an song title">
      <input type="submit" value="Search">
    </form>
  </div>

  <div class ="content-container">
  <div class="headings">
    <h3> Search results </h3>
    <h3> Song Lyrics </h3>
    <h3> Yodafy Lyrics </h3>
  </div>


    <div class="results-container">
      <% songs.forEach((song) => { %>
        <div class="result-card">
          <p><strong>Title:</strong> <%= song.track.track_name %></p>
          <p><strong>Artist:</strong> <%= song.track.artist_name %></p>
          <p><strong>Album:</strong> <%= song.track.album_name %></p>
          <form action="/users/lyrics" method="POST">
            <input type="hidden" name="selectSong" value="<%= song.track.track_id %>">
            <input type="submit" value="Get Lyrics">
          </form>
        </div>
      <% }); %>
    </div>

    <div class="lyrics-container">
      <textarea rows="23" cols="40" name="yodafy" form="lyrics-form"><%= results.lyrics_body %></textarea>
      <form action="/users/yoda" method="POST" id="lyrics-form">
        <input type="submit" value="Yodafy Lyrics">
      </form>
    </div>

    <div class="yoda-container">
      <textarea rows="22" cols="40" name="speak" form="speak-form"><%= yoda.body %></textarea>
      <form action="/speak" method="POST" id="speak-form">
        <input type="submit" value="Hear it!">
      </form>
      <form  action="/favorites" method="POST">
        <input type="hidden" name="favorite[body]" value="<%= yoda.body %>">
        <input type="submit" value="Save Yodafy verison">
      </form>
    </div>

  </div>
</body>
</html>
